/* global starts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary: #ff1967;
  --primary-hover: #f9578e;
  --white: #fff;
  --black: #000;
  --bg-gray: #ededed;
  --gray: rgb(162, 162, 162);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: var(--black);
}

section {
  padding: 5rem 0;
}

.title {
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}
/* global ends */

/* hero starts */
.hero {
  background-color: var(--bg-gray);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 110vh;
}
.hero .hero-img,
.hero .hero-content {
  width: 50%;
}

.hero .hero-img {
  height: 100%;
}
.hero .hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .hero-content h1 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero .hero-content p {
  font-size: 3rem;
  font-weight: lighter;
  margin-bottom: 0.7rem;
}

.hero .hero-content a[href="#portfolio"] {
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--primary);
  padding: 0.7rem 2rem;
  display: inline-block;
  border-radius: 3rem;
  margin-bottom: 0.5rem;
  transition: all 0.5s;
}
.hero .hero-content a[href="#portfolio"]:hover {
  background-color: var(--primary-hover);
}

.hero .hero-content .social a {
  display: inline-block;
  padding: 1rem;
  font-size: 1.5rem;
}
/* hero ends */

/* about starts */
.about .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.about .container .about-content,
.about .container .about-progress {
  width: 50%;
  padding: 1rem;
}

.about .title {
  text-align: left;
}

.about .text-red {
  color: var(--primary);
  font-size: 12px;
}

.about p {
  color: var(--gray);
  margin-bottom: 1rem;
  line-height: 1.7rem;
}

.about .progress {
  font-size: 0.8rem;
}

.about .progress .bar {
  width: 100%;
  height: 0.5rem;
  background-color: var(--bg-gray);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.about .progress .bar .fill {
  background-color: var(--black);
  height: 100%;
}

.about .progress label {
  text-transform: uppercase;
}

.about .progress span {
  color: var(--gray);
}

/* about ends */

/* gallery starts */
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 20rem;
  gap: 1rem;
}

.gallery .item:nth-of-type(1) {
  grid-row: auto/span 2;
}

.gallery .item:nth-of-type(3) {
  grid-row: auto/span 2;
}

.gallery .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* gallery ends */

/* project starts */
.project .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.project .container .item {
  text-align: center;
  width: 25%;
  padding: 2rem;
}

.project .container .item .number {
  font-size: 3.5rem;
  font-weight: bold;
}

.project .container .item .label {
  color: var(--gray);
  text-transform: uppercase;
  font-weight: 0.8rem;
}
/* project ends */

/* work start */
.work {
  text-align: center;
  background-image: url(../imgs/banner.jpg);
  background-size: cover;
}

.work a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  background: var(--primary);
  padding: 0.5rem 2rem;
  border-radius: 1rem;
}
/* work ends */

/* language starts */
.language {
  border-bottom: 1px solid var(--bg-gray);
}

.language .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 3rem;
}

.language .container .item {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: 700;
  flex: 15rem 0 1;
}

.language .container .item i {
  color: var(--primary);
  font-size: 2.5rem;
  padding-right: 0.5rem;
}
/* language ends */

/* contact starts */
#contact form {
  max-width: 650px;
  margin: 0 auto;
}

#contact form input,
#contact form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.1rem;
  border: 1px solid var(--bg-gray);
  outline: 0;
}

#contact form textarea {
  resize: none;
}

#contact form input::placeholder,
#contact form textarea::placeholder {
  font-size: 1rem;
  text-transform: capitalize;
}

#contact form button {
  display: block;
  margin: 0 auto;
  background-color: var(--primary);
  color: var(--white);
  padding: 1rem 2rem;
  text-transform: uppercase;
  border-radius: 2rem;
  border: 0;
  font-weight: bold;
  cursor: pointer;
}

#contact form button:hover {
  opacity: 0.7;
}
/* contact ends */

/* mediaquery starts */
@media (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 90%;
  }
  .container {
    max-width: 730px;
  }

  /* hero */
  .hero {
    height: auto;
  }
  .hero .hero-img,
  .hero .hero-content {
    width: 100%;
  }
  .hero .hero-img img {
    height: 70vw;
    object-fit: contain;
  }
  .hero .hero-content {
    padding: 3rem;
  }

  /* about */
  .about .container .about-content,
  .about .container .about-progress {
    width: 100%;
  }

  /* gallery */
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 80%;
  }
  .container {
    max-width: 550px;
  }

  /* project */
  .project .container .item {
    width: 50%;
  }

  /* contact */
  #contact form {
    max-width: 80%;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 75%;
  }
  .container {
    width: 100%;
  }

  /* project */
  .project .container .item {
    width: 100%;
  }

  /* gallery */
  .gallery {
    grid-template-columns: 1fr;
  }

  /* contact */
  #contact form {
    max-width: 90%;
  }
}
/* mediaquery ends */
